* {
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right,#121117,#181820);
    font-family: 'Nanum Gothic', sans-serif;
    color: whitesmoke;
} 

nav{
    position: relative;
    height: 50px;
    width: 100%;
    font-size: 1.5rem;
}

.nav-header{
    display: inline;
} 

.nav>.nav-header>.nav-title{
    font-size: 35px;
    padding: 20px 80px;
    display: inline-block;
    font-weight: 1000;
    color: #fc6a03;
}

.nav > .nav-responsive > label{
    width: 60px;
    height: 60px;
    display: inline-block;
    padding: 10px;
}

.nav > .navbar {
    float: right;
    display: inline;
    font-size: 20px;
    margin-right: 15px;
}