* {
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right,#121117,#181820);
} 

nav{
    position: relative;
    height: 50px;
    width: 100%;
    font-size: 1.5rem;
}

.nav-header{
    display: inline;
} 